upstream web_backend {
       server 54.179.0.126;
       server 18.142.53.190;
}
    server {
        listen       {{ http_port }};
       
        location / {
            proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;
            proxy_pass http://web_backend;
 
           
}
}
